{{define "content"}}

<h1>Challenge</h1>

<!-- <button hx-get="/new" hx-swap="outerHTML">Create Instance</button> -->
<button hx-get="/" hx-target="#dklodd-main" hx-push-url="true">Go to home</button>


{{end}}