{{define "content"}}

<h1>HOME</h1>

<button hx-get="/challenge" hx-target="body" hx-push-url="true">Go to challenge</button>

<!-- progress page -->

<button hx-get="/progress" hx-target="body" hx-push-url="true">Go to progress</button>

<button hx-get="/timedqueue" hx-target="body" hx-push-url="true">Go to timedqueue</button>

{{end}}