{{define "content"}}

<h1>Progress</h1>

<button hx-get="/" hx-target="body" hx-push-url="true">Go to home</button>



<button hx-sse="connect:/progress/sse swap:progress" hx-trigger="click">
  START!
</button>

{{end}}