{{define "content"}}

<h1>Timedqueue</h1>

<button hx-get="/" hx-target="body" hx-push-url="true">Go to home</button>

<!-- 랜덤한 5글자 itme query를 붙혀서 add로 get 요청 -->
<button hx-get="/timedqueue/add?item=a" hx-swap="none">Add item</button>

<div hx-sse="connect:/timedqueue/sse swap:progress">
  loading...
</div>


{{end}}